body {
  background-color: #fff;
  color: #000;
  font-family: Arial, Verdana;
  margin: 0;
}
.topnav {
  overflow: hidden;
  background-color: #5d5d5d;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #0465aa;
  color: white;
}
#new-img {
	width:  50%;
	height: 50%;
	display: block;
  	margin-bottom: 10px;
}
#note {
	margin-bottom: -4px;
}
.topnav a img#thing {
    width: 35px;
    display: block;
}